extends layout

block content

  .main-wrap

    #main.main-header
      .inner
        h1.title-l #[span.logo Scoop] is a tool to gather #[a.link.toggle-data data] from Instagram hashtags.
        h2.title-l Build something neat with the #[a.link.external(href="#") source code].

      .data-content
        .inner
          a.title-l.link.toggle-data Data
          p Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus.
    .content

      header
        h3.title-m hashtag scoop testing

      .hashtag-list
        form#search(name='search',method='post',action='/search')
          input#tag(name='tag', type='text' placeholder="Add a hashtag")



          each timer in timers

            a.hashtag(href='preview/' + timer.name) #{timer.name} 


