extends layout

block content

  .main-wrap

    #main.main-header
      .inner
        h1.title-l #[span.logo Scoop] is a tool to gather #[a.link.icon-popup.toggle-popup data] from Instagram hashtags.
        h2.title-l Build something neat with the #[a.link.external(href="https://github.com/Oh-My/scoop") source code].

      .popup-content.toggle-popup
        .inner
          h2.title-l Stuff like number of likes, the ID of the post, the username of the poster and more information that is hard to come by manually.

          a.close

    .content

      header
        h3.title-m Run dem hashtags

      .hashtag-list
        form#search(name='search',method='post',action='/search')
          input#tag(name='tag', type='text' placeholder="Add a hashtag")

          each timer in timers.slice(0).reverse()

            if !timer.job 
              a.hashtag.timer(href='preview/' + timer.name) #{timer.name}
          
          each job in jobs.slice(0).reverse()
            
            a.hashtag.job(href='preview/' + job.name) #{job.name}


