doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    meta(property='og:title' content='Scoop | Instagram scraper')
    meta(property='og:image' content='/images/og-image.png')
    meta(property='og:description' content='Scoop is a tool to gather data from Instagram hashtags.')

  body

    block content

    script(src='/js/app.js')